body {
    background-image: "photo/IMG_20210301_190620.jpg";
    font-family: 'Courier New', Courier, monospace;
}
.navbar{
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 17px;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
table{
    background-color: rgb(150, 175, 243);
}
h3 {
    color : rgb(6, 1, 1);

}
p {
  
    padding: 0px;
}
a {
    color: rgb(183, 61, 124);
}